# Your Apple email address
USER_APPLE_ID=replace@me.com

# Or instead, your API key info
APP_STORE_CONNECT_API_KEY_ID=
APP_STORE_CONNECT_API_KEY_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_CONTENT=

# Sentry configuration
SENTRY_AUTH_TOKEN=sentry-auth-token-here
