#include "Settings.xcconfig"

// Building & Deployment
VALIDATE_PRODUCT = YES
COPY_PHASE_STRIP = YES

// Linking & Code generation
ENABLE_NS_ASSERTIONS = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(ENVIRONMENT_GCC_PREPROCESSOR_DEFINITIONS)

// Swift
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(ENVIRONMENT_SWIFT_ACTIVE_COMPILATION_CONDITIONS)
