#include "Settings.xcconfig"

// Building & Deployment
ONLY_ACTIVE_ARCH = YES
COPY_PHASE_STRIP = NO
ENABLE_TESTABILITY = YES
DEBUG_INFORMATION_FORMAT[sdk=iphonesimulator*] = dwarf

// Linking & Code generation
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) "DEBUG=1" $(ENVIRONMENT_GCC_PREPROCESSOR_DEFINITIONS)

// Swift
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) "DEBUG" $(ENVIRONMENT_SWIFT_ACTIVE_COMPILATION_CONDITIONS)
